<%= form_for @movie do |f| %>
	

<% if @movie.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this url from being saved:</h3>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





	<fieldset>
		<div class='fields'>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>

		<div class='fields'>
			<%= f.label :description %>
			<%= f.text_field :description %>
		</div>

		<div class='fields'>
			<%= f.label :year_released %>
			<%= f.text_field :year_released %>	
		</div>


	</fieldset>
	<%= f.submit %>	

	<%= link_to "Destroy", @movie, method: :delete, data: { confirm: 'Are you sure?' } %></br>
	<%= link_to 'Back to Homepage', movies_path %>
<% end %>